
div.practice {
	display: flex;
}

div.practice-textarea {
	width: 20em;
	height: 48ex;
	border: 2px solid black;
	padding: 20px;
	margin: 20px;
	line-height: 200%;
}

div.practice-info {
	padding: 20px;
}

.correct {
	background-color: #98ee99;
}
.incorrect {
	background-color: #ff867c;
}

textarea.practice-input {
}

.hide {
	width: 0;
	overflow: hidden;
}

.composing {
	background-color: black;
	color: white;
}
